	#resume, #hideResume, #contactForm, #cancelButton, #responsiveImage{
		display: none;
	}

	@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

	.name{
		font-family: 'Dancing Script', cursive !important;
	}

	@media only screen and (max-width: 400px){
		#responsiveImage{
			display: block !important;
		}

		#normalImage{
			display: none !important;
		}
	}

	@media only screen and (min-width: 768px){
		#responsiveImage{
			display: none !important;
		}

		#normalImage{
			display: block !important;
		}
	}




	

	