	#resume, #hideResume, #contactForm, #cancelButton{
		display: none;
	}

	@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

	.name{
		font-family: 'Dancing Script', cursive !important;
	}

	/* @media only screen and (min-device-width: 320px) and (max-device-width: 768px){
		#responsiveImage{
			display: block !important;
		}

		#exampleHeading{
			background-color: teal !important;
		}

		#normalImage{
			display: none !important;
		}
	}

	@media only screen and (min-width: 768px){
		#responsiveImage{
			display: none !important;
		}

		#normalImage{
			display: block !important;
		}
	} */




	

	